{% extends "layouts/base.njk" %}

{% block content %}
<div class="post-header-section">
  <div class="post-header-content">
    <h1>{{ title }}</h1>
    {% if page.date %}
    <div class="post-metadata">
      <div class="post-meta-row">
        <div class="post-meta-left">
          <span class="post-meta-item">
            <svg class="meta-icon" viewBox="0 0 16 16" fill="currentColor"><path d="M4 0a1 1 0 0 1 1 1v1h6V1a1 1 0 1 1 2 0v1h1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h1V1a1 1 0 0 1 1-1zm10 6H2v8h12V6z"/></svg>
            <time datetime="{{ page.date | dateIso }}">{{ page.date | readableDate }}</time>
          </span>
          {% set wordCount = content | wordCount %}
          {% set readingTime = content | readingTime %}
          {% if wordCount > 0 %}
          <span class="post-meta-item">
            <svg class="meta-icon" viewBox="0 0 16 16" fill="currentColor"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm0 2a6 6 0 1 0 0 12A6 6 0 0 0 8 2zm.5 3a.5.5 0 0 1 .5.5v3.793l2.354 2.353a.5.5 0 0 1-.708.708l-2.5-2.5A.5.5 0 0 1 8 9.5v-4a.5.5 0 0 1 .5-.5z"/></svg>
            {{ readingTime }} min read
          </span>
          {% endif %}
        </div>
      </div>
      {% if tags and tags.length > 0 %}
      <div class="post-tags">
        {% for tag in tags %}
          {% if tag.toLowerCase() != "blog" %}
          <a href="/tags/{{ tag | slugify }}/" class="tag-mono">#{{ tag | lower }}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {% postSeries %}
    </div>
    {% endif %}
  </div>
</div>

<div class="post-content-section">
  <div class="post-content-wrapper">
    <article>
      {{ content | safe }}
    </article>
  </div>
</div>
{% endblock %}
